<div class="mt-4">
  <h1>Cập nhật khóa học</h1>
  <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khóa học</label>
      <input
        class="form-control"
        name="name"
        type="text"
        id="name"
        value="{{course.name}}"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        class="form-control"
        name="description"
        type="text"
        id="description"
        value="{{course.description}}"
      />
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">videoId</label>
      <input
        class="form-control"
        name="videoId"
        type="text"
        id="videoId"
        value="{{course.videoId}}"
      />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Trình độ</label>
      <input
        class="form-control"
        name="level"
        type="text"
        id="level"
        value="{{course.level}}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
  </form>
</div>