<form class="mt-4" method="POST" action="/courses/handle-form-actions" >
  <h1>Danh sách khoá học</h1>
  <a href="/courses/trash" class="btn btn-primary">Thùng rác ({{deletedCount}})</a>
  <div class="mt-4 d-flex form-action-control">
    <div class="form-check">
      <input class="form-check-input"  type="checkbox" value="" id="checkboxAll">
      <label class="form-check-label" for="checkboxAll">
        Chọn tất cả
      </label>
    </div>
    <div class="select-option">
      <select class="form-select" aria-label="Default select example" required name="action">
        <option value="" selected>Chọn hành động</option>
        <option value="delete">Xóa</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" disabled id="btn-submit-action-form">Thực hiện</button>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Ngày tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#if courses.length}}
        {{#each courses}}
          <tr>
            <th scope="row">
              <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" id="checkboxCourse">
            </th>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
              <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa</a>
              <a
                type="submit"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-id={{this._id}}
                data-bs-target="#exampleModal"
              >Xóa</a>
            </td>
          </tr>
        {{/each}}
        {{else}}
          <tr>
            <td colspan="5" class="text-center">Không có khóa học nào <a href="/courses/create">Thêm khóa học >>>></a></td>
          </tr>
        {{/if}}
    </tbody>
  </table>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có chắc chắn
          muốn xóa khóa học này ??</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Khóa học này sẽ bị xóa vĩnh viễn khỏi hệ thống</p>
      </div>
      <div class="modal-footer">
        <button id="deleteCourse" type="button" class="btn btn-primary">Xóa</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>


<form class="mt-4" id="confirm-Delete" method="POST" >
</form>
<script>
  const exampleModal = document.getElementById('exampleModal') 
  const buttonDeleteCourse = document.getElementById('deleteCourse')
  const checkboxAll = document.getElementById('checkboxAll')
  const checkboxCourse = document.querySelectorAll('#checkboxCourse')
  const buttonSubmitActionForm = document.getElementById('btn-submit-action-form')

   // create function remove disabled when checkbox checked
  const handleButtonSubmitActionForm = () => {
    const isChecked = Array.from(checkboxCourse).some(checkbox => checkbox.checked)
    buttonSubmitActionForm.disabled = !isChecked
  }

  //get checkboxAll checked
  checkboxAll.onchange = () => {
    checkboxCourse.forEach(checkbox => {
      checkbox.checked = checkboxAll.checked
    })
    handleButtonSubmitActionForm()
  }

  //get checkboxCourse checked
  checkboxCourse.forEach(checkbox => {
    checkbox.onchange = () => {
      const isAllChecked = Array.from(checkboxCourse).every(checkbox => checkbox.checked)
      checkboxAll.checked = isAllChecked
      handleButtonSubmitActionForm()
    }
  })
  
  var id = ""
  if (exampleModal) { 
    exampleModal.addEventListener('show.bs.modal', event => { 
      const button = event.relatedTarget 
      id = button.getAttribute('data-bs-id')
      }) }
  buttonDeleteCourse.onclick = () => {
    const form = document.getElementById('confirm-Delete')
    form.action = `/courses/${id}?_method=DELETE`
    form.submit()
  }
</script>